@font-face {
  font-family: Cooper;
  src: url("../fonts/CooperLight.ttf") format("truetype");
}
@font-face {
  font-family: Ogg;
  src: url("../fonts/Ogg.otf") format("opentype");
}
@font-face {
  font-family: Respira;
  src: url("../fonts/Respira.otf") format("opentype");
}
@font-face {
  font-family: Bigilla;
  src: url("../fonts/Bigilla.otf") format("opentype");
}
@font-face {
  font-family: Elgoc;
  src: url("../fonts/Elgoc.otf") format("opentype");
}
@font-face {
  font-family: Glassure;
  src: url("../fonts/Glassure.otf") format("opentype");
}
@font-face {
  font-family: GT;
  src: url("../fonts/GT Sectra Fine.ttf") format("truetype");
}
@font-face {
  font-family: GTBold;
  src: url("../fonts/GT Sectra Bold.ttf") format("truetype");
}
.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #1D1D1D;
  font-family: Cooper;
}

h1 {
  position: absolute;
  font-size: 20px;
  color: #E8DECB;
  margin: 80px 0px 40px 0px;
  width: calc(100vw - 480px);
  z-index: 10;
  pointer-events: none;
}

#start-typing {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 160px 240px;
  font-size: 28px;
  color: #E8DECB;
  border: none;
  resize: none;
  transition: 0.1s;
}
#start-typing:focus {
  outline: none;
}

.inline {
  position: relative;
  display: inline-block;
  margin: 0px;
  z-index: 1;
}

/*----- DESCRIPTORS -----*/
.good, .possible {
  color: #ff6b42;
  font-family: Ogg;
}

.confident, .source-of-strength, .secure, .exhilarating {
  color: #85FFBD;
  background: linear-gradient(45deg, #63D497 0%, #FFE16F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Ogg;
}

.love, .get-better, .admiring {
  background: -webkit-linear-gradient(-80deg, #FAD05A, #EB2180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Respira;
  font-size: 0.95em;
}

.good-enough, .refreshing, .comforted, .happy, .great, .distinctive {
  color: #FFC63F;
  font-family: Ogg;
}

.hopeful, .mindfulness {
  color: #E2A230;
  font-family: Ogg;
}

.calm, .unique, .interesting {
  color: #79CD9F;
  font-family: Ogg;
}

.not-afraid, .courageous, .strong, .cool {
  color: #44ABC5;
  font-size: 1.1em;
}

.beautiful, .appealing, .better, .attractive {
  color: #25B2AA;
  font-family: Ogg;
}

.valuable, .comfortable, .have, .accept, .overcome, .important {
  background: linear-gradient(220deg, #F58643, #FF5B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Respira;
  font-size: 0.95em;
}

.work-in-progress, .self-sufficient, .openminded {
  color: #40793C;
  font-family: Respira;
  font-size: 0.95em;
}

.persevere, .strengthening, .improving, .motivating {
  color: #3DA874;
  font-family: Respira;
  font-size: 0.95em;
}

.calm2, .caring {
  color: #FC9563;
  font-size: 1.1em;
}

.self-esteem {
  color: #EF7979;
  font-family: Respira;
  font-size: 0.95em;
}

.incredible, .worthy {
  color: #FAD961;
  background: linear-gradient(90deg, #FFCC70 0%, #D55B16 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Respira;
  font-size: 0.95em;
}

.live, .accepted {
  color: #ffd230;
  font-family: Respira;
  font-size: 0.95em;
}

.blessing, .commit, .re-adjustment, .grateful {
  color: #FFD17D;
  font-family: Ogg;
}

/*# sourceMappingURL=App.css.map */
