@font-face {
  font-family: Cooper;
  src: url("../fonts/CooperLight.ttf") format("truetype");
}
@font-face {
  font-family: Ogg;
  src: url("../fonts/Ogg.otf") format("opentype");
}
@font-face {
  font-family: Respira;
  src: url("../fonts/Respira.otf") format("opentype");
}
@font-face {
  font-family: Bigilla;
  src: url("../fonts/Bigilla.otf") format("opentype");
}
@font-face {
  font-family: Elgoc;
  src: url("../fonts/Elgoc.otf") format("opentype");
}
@font-face {
  font-family: Glassure;
  src: url("../fonts/Glassure.otf") format("opentype");
}
@font-face {
  font-family: GT;
  src: url("../fonts/GT Sectra Fine.ttf") format("truetype");
}
@font-face {
  font-family: GTBold;
  src: url("../fonts/GT Sectra Bold.ttf") format("truetype");
}
/*----- RESPONSIVE FORMATTING -----*/
@media only screen and (max-width: 1200px) {
  h1 {
    width: calc(100vw - 320px);
  }

  #start-typing {
    padding: 160px 160px;
  }
}
@media only screen and (max-width: 1000px) {
  h1 {
    width: calc(100vw - 200px);
  }

  #start-typing {
    padding: 160px 100px;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    width: calc(100vw - 120px);
  }

  #start-typing {
    padding: 180px 60px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    width: calc(100vw - 120px);
  }

  #start-typing {
    padding: 180px 60px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    margin: 36px 0px 40px 0px;
    width: calc(100vw - 60px);
    font-size: 18px;
  }

  #start-typing {
    padding: 120px 30px;
    font-size: 16px;
  }
}
.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #1D1D1D;
  font-family: Cooper;
}

.placeholder {
  position: absolute;
  top: 440px;
  left: 300px;
  color: #E8DECB;
  opacity: 0.3;
  font-size: 24px;
}

.parallax-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 835px;
  height: 120px;
  top: 0px;
  margin: 180px 0px 40px 0px;
  z-index: 100;
}
.parallax-box .date, .parallax-box .comment {
  position: absolute;
  bottom: -90px;
  color: #E8DECB;
  opacity: 0.8;
  font-size: 14px;
}
.parallax-box .date {
  left: 0px;
}
.parallax-box .comment {
  right: 0px;
}

h1 {
  position: absolute;
  font-size: 90px;
  color: #E8DECB;
  font-family: Ogg;
}

#letter-box {
  position: relative;
  width: 300px;
  height: 500px;
  overflow: hidden;
  bottom: 100px;
  transform: translateX(-4px);
  z-index: -2;
}
#letter-box .gradient-box {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.4) 100%);
  z-index: -10;
}
#letter-box #photo {
  position: absolute;
  width: 320px;
  height: 530px;
  z-index: -30;
}
#letter-box h2 {
  position: absolute;
  text-align: center;
  font-size: 16px;
  color: #ccc5b8;
  margin: 10px 20px 24px 20px;
  bottom: 0px;
  z-index: 10;
  pointer-events: none;
}

#start-typing {
  position: relative;
  width: 100vw;
  min-height: 60vh;
  padding: 100px 300px 140px 300px;
  font-size: 24px;
  color: #ccc5b8;
  border: none;
  resize: none;
  transition: 0.1s;
}
#start-typing:focus {
  outline: none;
}

.inline {
  position: relative;
  display: inline-block;
  margin: 0px;
  z-index: 1;
}

/*----- DESCRIPTORS -----*/
.good, .possible {
  color: #ff6b42;
  font-family: Ogg;
}

.confident, .source-of-strength, .secure, .exhilarating {
  color: #85FFBD;
  background: linear-gradient(45deg, #3db374 0%, #f7da68 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Ogg;
}

.love, .get-better, .admiring {
  background: -webkit-linear-gradient(-80deg, #FAD05A, #EB2180);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Respira;
  font-size: 0.95em;
}

.good-enough, .refreshing, .comforted, .happy, .great, .distinctive {
  color: #faab00;
  font-family: Ogg;
}

.hopeful, .mindfulness, .flawless {
  color: #e38629;
  font-family: Ogg;
}

.calm, .unique, .interesting {
  color: #65cf94;
  font-family: Ogg;
}

.not-afraid, .courageous, .strong, .cool {
  color: #a8d485;
  font-family: Ogg;
}

.beautiful, .appealing, .better, .attractive {
  color: #00ab80;
  font-family: Ogg;
}

.valuable, .comfortable, .have, .accept, .overcome, .important {
  background: linear-gradient(220deg, #F58643, #FF5B6B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Respira;
  font-size: 0.95em;
}

.work-in-progress, .self-sufficient, .openminded {
  color: #edb940;
  font-family: Respira;
  font-size: 0.95em;
}

.persevere, .strengthening, .improving, .motivating, .desirable {
  color: #1b9e54;
  font-family: Respira;
  font-size: 0.95em;
}

.calm2, .caring {
  color: #fa9a69;
  font-family: Ogg;
}

.self-esteem, .genuine {
  color: #e66e6e;
  font-family: Respira;
  font-size: 0.95em;
}

.incredible, .worthy, .gorgeous {
  color: #FAD961;
  background: linear-gradient(90deg, #ffc94d 0%, #d57916 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Respira;
  font-size: 0.95em;
}

.live, .accepted {
  color: #FFD17D;
  font-family: Respira;
  font-size: 0.95em;
}

.commit, .re-adjustment, .grateful, .great-person {
  color: #d9a338;
  font-family: Ogg;
}

/*# sourceMappingURL=App.css.map */
