@font-face {
  font-family: Cooper;
  src: url("../fonts/CooperLight.ttf") format("truetype");
}
@font-face {
  font-family: Ogg;
  src: url("../fonts/Ogg.otf") format("opentype");
}
@font-face {
  font-family: Respira;
  src: url("../fonts/Respira.otf") format("opentype");
}
@font-face {
  font-family: Bigilla;
  src: url("../fonts/Bigilla.otf") format("opentype");
}
@font-face {
  font-family: Elgoc;
  src: url("../fonts/Elgoc.otf") format("opentype");
}
@font-face {
  font-family: Glassure;
  src: url("../fonts/Glassure.otf") format("opentype");
}
@font-face {
  font-family: GT;
  src: url("../fonts/GT Sectra Fine.ttf") format("truetype");
}
@font-face {
  font-family: GTBold;
  src: url("../fonts/GT Sectra Bold.ttf") format("truetype");
}
/*----- RESPONSIVE FORMATTING -----*/
@media only screen and (max-width: 1200px) {
  #start-typing {
    padding: 100px 210px;
  }

  #placeholder {
    left: 210px;
  }

  .date {
    left: 20px;
  }

  .info-btn {
    right: 20px;
  }
}
@media only screen and (max-width: 900px) {
  #header {
    width: 620px !important;
  }

  h1 {
    font-size: 70px !important;
  }

  #start-typing {
    padding: 100px 100px;
  }

  #placeholder {
    left: 100px;
  }

  .date {
    left: 60px;
  }

  .info-btn {
    right: 60px;
  }

  .info-box {
    width: 600px !important;
  }
  .info-box .image-container {
    margin: 10px 80px 10px 20px !important;
  }
  .info-box .image-container h3 {
    font-size: 38px !important;
    width: 110% !important;
    right: -60px !important;
  }
  .info-box .description p {
    font-size: 15px !important;
  }
  .info-box .row-lined {
    margin: 30px 0px !important;
    flex-direction: column;
  }
  .info-box .row-lined .before, .info-box .row-lined .after {
    flex: 1;
    font-size: 20px !important;
    padding: 20px 0px !important;
  }
  .info-box .row-lined .before {
    border-bottom: 1px solid rgba(232, 222, 203, 0.05);
    border-right: none !important;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 58px !important;
  }

  #start-typing {
    padding: 100px 40px;
    font-size: 22px;
  }

  #placeholder {
    left: 40px;
  }

  .date {
    visibility: hidden;
  }

  .info-btn {
    left: 50%;
    transform: translate(-50%, 32px);
    text-align: center !important;
  }

  .info-box {
    width: 500px !important;
  }
  .info-box .row {
    flex-direction: column;
    margin: 0px;
  }
  .info-box .image-container {
    height: 200px;
    width: 100% !important;
    margin: 10px 0px !important;
  }
  .info-box .image-container h3 {
    width: 100% !important;
    left: 0px !important;
    top: 75% !important;
    text-align: center !important;
  }
  .info-box .image-container .image-box .info-image {
    transform: translateY(100px);
  }
  .info-box .description {
    padding: 0px !important;
  }
  .info-box .row-lined {
    margin: 20px 0px !important;
  }
  .info-box .row-lined .before, .info-box .row-lined .after {
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 480px) {
  .title-box {
    transform: translateY(-24px);
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 13px !important;
  }

  #header {
    height: 0px;
  }
  #header #background-photo {
    display: flex;
    align-items: flex-end;
    width: 240px;
    height: 240px !important;
    bottom: 60px !important;
  }
  #header #background-photo #photo {
    width: 300px;
    height: 530px;
    z-index: -30;
  }

  #start-typing {
    padding: 30px 30px;
    font-size: 16px;
  }

  #placeholder {
    left: 30px;
    top: 30px;
    font-size: 16px;
  }

  .info-btn {
    transform: translate(-50%);
    text-align: center !important;
  }

  .info-box {
    width: 400px !important;
  }
  .info-box .image-container {
    height: 150px !important;
    margin: -25px 0px 10px 0px !important;
  }
  .info-box .image-container h3 {
    font-size: 30px !important;
  }
  .info-box .description p {
    font-size: 13px !important;
  }
  .info-box .row-lined {
    margin: 15px 0px !important;
  }
  .info-box .row-lined .before, .info-box .row-lined .after {
    font-size: 16px !important;
  }

  .exit {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 360px) {
  .title-box {
    transform: translateY(-36px);
  }

  h1 {
    font-size: 32px !important;
  }

  h2 {
    font-size: 12px !important;
    margin: 10px 20px 10px 20px !important;
  }

  #header #background-photo {
    width: 180px;
    height: 210px !important;
    bottom: 76px !important;
  }
  #header #background-photo #photo {
    width: 300px;
    height: 530px;
    z-index: -30;
  }

  #start-typing {
    padding: 35px 30px;
    font-size: 16px;
  }

  #placeholder {
    left: 30px;
    top: 35px;
    font-size: 16px;
  }

  .info-btn {
    bottom: -60px !important;
  }

  .info-box {
    width: 360px !important;
  }
  .info-box .image-container {
    height: 100px !important;
  }
  .info-box .image-container h3 {
    font-size: 25px !important;
  }
  .info-box .description p {
    font-size: 12px !important;
  }
  .info-box .row-lined {
    margin: 10px 0px !important;
  }
  .info-box .row-lined .before, .info-box .row-lined .after {
    font-size: 14px !important;
    padding: 10px 0px !important;
  }
  .info-box .row-lined .before .title, .info-box .row-lined .after .title {
    font-size: 12px !important;
  }
}
.info-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 105vh;
  padding: 100px 40px;
  background: #1D1D1D;
  color: #E8DECB;
  font-family: Cooper;
  font-size: 18px;
  transition: 0.5s;
}
.info-box .image-container {
  position: relative;
  flex: 5;
  height: 200px;
  width: 50px;
  margin: 10px 120px 10px 20px;
}
.info-box .image-container h3 {
  position: absolute;
  font-family: Ogg;
  font-size: 44px;
  z-index: 30;
  width: 90%;
  right: -88px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}
.info-box .image-container .image-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.info-box .image-container .image-box .info-image {
  width: 120%;
  height: auto;
}
.info-box .image-container .image-box .gradient-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(110deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.4) 100%);
}
.info-box .description {
  padding: 0px 0px 0px 40px;
  flex: 7;
  bottom: 0px;
}
.info-box .description p {
  font-size: 17px;
  margin: 10px 0px;
}
.info-box .row-lined {
  margin: 30px 0px 40px 0px;
  display: flex;
  border-top: 1px solid rgba(232, 222, 203, 0.05);
  border-bottom: 1px solid rgba(232, 222, 203, 0.05);
}
.info-box .row-lined .before, .info-box .row-lined .after {
  flex: 1;
  font-size: 22px;
}
.info-box .row-lined .before .title, .info-box .row-lined .after .title {
  margin: 4px 0px;
  font-size: 15px;
  opacity: 0.5;
}
.info-box .row-lined .before {
  padding: 35px 38px 40px 0px;
  border-right: 1px solid rgba(232, 222, 203, 0.05);
}
.info-box .row-lined .after {
  padding: 35px 0px 40px 40px;
}

.invisible {
  opacity: 0;
  top: 50%;
  transform: translateY(-52%);
}

.visible {
  opacity: 1;
  top: 50%;
  transform: translateY(-52%);
}

.exit {
  cursor: pointer;
  transition: 0.1s;
  font-size: 18px;
  opacity: 0.8;
}
.exit:hover {
  opacity: 0.4;
}

/*# sourceMappingURL=Info.css.map */
