@font-face {
  font-family: Cooper;
  src: url("../fonts/CooperLight.ttf") format("truetype");
}
@font-face {
  font-family: Ogg;
  src: url("../fonts/Ogg.otf") format("opentype");
}
@font-face {
  font-family: Respira;
  src: url("../fonts/Respira.otf") format("opentype");
}
@font-face {
  font-family: Bigilla;
  src: url("../fonts/Bigilla.otf") format("opentype");
}
@font-face {
  font-family: Elgoc;
  src: url("../fonts/Elgoc.otf") format("opentype");
}
@font-face {
  font-family: Glassure;
  src: url("../fonts/Glassure.otf") format("opentype");
}
@font-face {
  font-family: GT;
  src: url("../fonts/GT Sectra Fine.ttf") format("truetype");
}
@font-face {
  font-family: GTBold;
  src: url("../fonts/GT Sectra Bold.ttf") format("truetype");
}
/*----- RESPONSIVE FORMATTING -----*/
@media only screen and (max-width: 1200px) {
  h1 {
    width: calc(100vw - 320px);
  }

  #start-typing {
    padding: 160px 160px;
  }
}
@media only screen and (max-width: 1000px) {
  h1 {
    width: calc(100vw - 200px);
  }

  #start-typing {
    padding: 160px 100px;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    width: calc(100vw - 120px);
  }

  #start-typing {
    padding: 180px 60px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    width: calc(100vw - 120px);
  }

  #start-typing {
    padding: 180px 60px;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    margin: 36px 0px 40px 0px;
    width: calc(100vw - 60px);
    font-size: 18px;
  }

  #start-typing {
    padding: 120px 30px;
    font-size: 16px;
  }
}
.info-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  padding: 100px 40px;
  background: #1D1D1D;
  color: #E8DECB;
  font-family: Cooper;
  font-size: 18px;
  z-index: 30;
  transition: 0.5s;
}
.info-box .description {
  position: relative;
  margin: 20px;
  margin-bottom: 0px;
  display: inline-block;
  flex: 1;
}
.info-box .description h3 {
  font-family: Ogg;
  font-size: 50px;
  width: 200%;
}
.info-box .description p {
  margin: 10px 0px;
}
.info-box .image-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  flex: 1;
  background: blue;
  height: 274px;
  width: 50px;
  margin: 10px 0px 10px 20px;
  overflow: hidden;
  z-index: -1;
}
.info-box .image-box .info-image {
  width: 240%;
  height: auto;
  transform: scaleX(-1);
}
.info-box .row-lined {
  margin: 30px 0px 40px 0px;
  display: flex;
  border-top: 1px solid rgba(232, 222, 203, 0.05);
  border-bottom: 1px solid rgba(232, 222, 203, 0.05);
}
.info-box .row-lined .before, .info-box .row-lined .after {
  flex: 1;
  font-size: 22px;
}
.info-box .row-lined .before .title, .info-box .row-lined .after .title {
  margin: 4px 0px;
  font-size: 15px;
  opacity: 0.5;
}
.info-box .row-lined .before {
  padding: 35px 38px 40px 0px;
  border-right: 1px solid rgba(232, 222, 203, 0.05);
}
.info-box .row-lined .after {
  padding: 35px 0px 40px 40px;
}

.invisible {
  opacity: 0;
  top: -10%;
}

.visible {
  opacity: 1;
  top: 50%;
  transform: translateY(-52%);
}

.exit {
  cursor: pointer;
  transition: 0.1s;
  font-size: 18px;
  opacity: 0.8;
}
.exit:hover {
  opacity: 0.4;
}

/*# sourceMappingURL=Info.css.map */
