@font-face {
    font-family: Cooper;
    src: url("../fonts/CooperLight.ttf") format("truetype");
}

@font-face {
    font-family: NeueMachina;
    src: url("../fonts/NeueMachina.otf") format("opentype");
}

@font-face {
    font-family: Ogg;
    src: url("../fonts/Ogg.otf") format("opentype");
}

@font-face {
    font-family: Respira;
    src: url("../fonts/Respira.otf") format("opentype");
}

@font-face {
    font-family: GoodSans;
    src: url("../fonts/GoodSans.otf") format("opentype");
}

@font-face {
    font-family: Adieu;
    src: url("../fonts/Adieu.otf") format("opentype");
}

@font-face {
    font-family: Opposit;
    src: url("../fonts/Opposit.otf") format("opentype");
}

@font-face {
    font-family: Obviously;
    src: url("../fonts/Obviously.otf") format("opentype");
}
