@font-face {
    font-family: Cooper;
    src: url("../fonts/CooperLight.ttf") format("truetype");
}

@font-face {
    font-family: Ogg;
    src: url("../fonts/Ogg.otf") format("opentype");
}

@font-face {
    font-family: Respira;
    src: url("../fonts/Respira.otf") format("opentype");
}

@font-face {
    font-family: Bigilla;
    src: url("../fonts/Bigilla.otf") format("opentype");
}

@font-face {
    font-family: Elgoc;
    src: url("../fonts/Elgoc.otf") format("opentype");
}

@font-face {
    font-family: Glassure;
    src: url("../fonts/Glassure.otf") format("opentype");
}

@font-face {
    font-family: GT;
    src: url("../fonts/GT Sectra Fine.ttf") format("truetype");
}

@font-face {
    font-family: GTBold;
    src: url("../fonts/GT Sectra Bold.ttf") format("truetype");
}
