/*----- RESPONSIVE FORMATTING -----*/

@media only screen and (max-width: 1200px) {
    #start-typing {
        padding: 100px 210px;
    }

    #placeholder {
        left: 210px;
    }

    .date {
        left: 20px;
    }

    .info-btn {
        right: 20px;
    }
}

@media only screen and (max-width: 900px) {

    #header {
        width: 620px !important;
    }

    h1 {
        font-size: 70px !important;
    }

    #start-typing {
        padding: 100px 100px;
    }

    #placeholder {
        left: 100px;
    }

    .date {
        left: 60px;
    }

    .info-btn {
        right: 60px;
    }

    .info-box {
        width: 600px !important;

        .image-container {
            margin: 10px 80px 10px 20px !important;

            h3 {
                font-size: 38px !important;
                width: 110% !important;
                right: -60px !important;
            }
        }

        .description {
            p {
                font-size: 15px !important;
            }
        }

        .row-lined {
            margin: 30px 0px !important;
            flex-direction: column;

            .before, .after {
                flex: 1;
                font-size: 20px !important;
                padding: 20px 0px !important;
            }

            .before {
                border-bottom: 1px solid rgba(232, 222, 203, 0.05);
                border-right: none !important;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 58px !important;
    }

    #start-typing {
        padding: 100px 40px;
        font-size: 22px;
    }

    #placeholder {
        left: 40px;
    }


    .date {
        visibility: hidden;
    }

    .info-btn {
        left: 50%;
        transform: translate(-50%, 32px);
        text-align: center !important;
    }


    .info-box {
        width: 500px !important;

        .row {
            flex-direction: column;
            margin: 0px;
        }

        .image-container {
            height: 200px;
            width: 100% !important;
            margin: 10px 0px !important;

            h3 {
                width: 100% !important;
                left: 0px !important;
                top: 75% !important;
                text-align: center !important;
            }

            .image-box {
                .info-image {
                    transform: translateY(100px);
                }
            }
        }

        .description {
            padding: 0px !important;
        }

        .row-lined {
            margin: 20px 0px !important;

            .before, .after {
                font-size: 18px !important;
            }
        }
    }
}

@media only screen and (max-width: 480px) {

    .title-box {
        transform: translateY(-24px);
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 13px !important;
    }

    #header {
        height: 0px;

        #background-photo {
            display: flex;
            align-items: flex-end;
            width: 240px;
            height: 240px !important;
            bottom: 60px !important;

            #photo {
                width: 300px;
                height: 530px;
                z-index: -30;
            }
        }
    }

    #start-typing {
        padding: 30px 30px;
        font-size: 16px;
    }

    #placeholder {
        left: 30px;
        top: 30px;
        font-size: 16px;
    }

    .info-btn {
        transform: translate(-50%);
        text-align: center !important;
    }

    .info-box {
        width: 400px !important;

        .image-container {
            height: 150px !important;
            margin: -25px 0px 10px 0px !important;

            h3 {
                font-size: 30px !important;
            }
        }

        .description {
            p {
                font-size: 13px !important;
            }
        }

        .row-lined {
            margin: 15px 0px !important;

            .before, .after {
                font-size: 16px !important;
            }
        }
    }

    .exit {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 360px) {

    .title-box {
        transform: translateY(-36px);
    }

    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 12px !important;
        margin: 10px 20px 10px 20px !important;
    }

    #header {
        #background-photo {
            width: 180px;
            height: 210px !important;
            bottom: 76px !important;

            #photo {
                width: 300px;
                height: 530px;
                z-index: -30;
            }
        }
    }

    #start-typing {
        padding: 35px 30px;
        font-size: 16px;
    }

    #placeholder {
        left: 30px;
        top: 35px;
        font-size: 16px;
    }

    .info-btn {
        bottom: -60px !important;
    }

    .info-box {
        width: 360px !important;

        .image-container {
            height: 100px !important;

            h3 {
                font-size: 25px !important;
            }
        }

        .description {
            p {
                font-size: 12px !important;
            }
        }

        .row-lined {
            margin: 10px 0px !important;

            .before, .after {
                font-size: 14px !important;
                padding: 10px 0px !important;

                .title {
                    font-size: 12px !important;
                }
            }
        }
    }
}
