/*----- RESPONSIVE FORMATTING -----*/

// .date, .info-btn {
//     position: absolute;
//     bottom: -90px;
//     color: $textColor;
//     opacity: 0.8;
//     font-size: 14px;
// }
//
// .date {
//     left: 0px;
// }
//
// .info-btn {
//     right: 0px;
//     cursor: pointer;
//     transition: 0.1s !important;
//
//     &:hover {
//         opacity: 0.4;
//     }
// }


@media only screen and (max-width: 1200px) {
    #start-typing {
        padding: 100px 210px;
    }

    #placeholder {
        left: 210px;
    }

    .date {
        left: 20px;
    }

    .info-btn {
        right: 20px;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 70px !important;
    }

    #start-typing {
        padding: 100px 100px;
    }

    #placeholder {
        left: 100px;
    }

    .date {
        left: 60px;
    }

    .info-btn {
        right: 60px;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 58px !important;
    }

    #start-typing {
        padding: 100px 40px;
        font-size: 22px;
    }

    #placeholder {
        left: 40px;
    }
}

@media only screen and (max-width: 480px) {

    .title-box {
        transform: translateY(-24px);
    }

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 13px !important;
    }

    #header {
        height: 0px;

        #background-photo {
            display: flex;
            align-items: flex-end;
            width: 240px;
            height: 240px !important;
            bottom: 60px !important;

            #photo {
                width: 300px;
                height: 530px;
                z-index: -30;
            }
        }
    }

    #start-typing {
        padding: 40px 30px;
        font-size: 16px;
    }

    #placeholder {
        left: 30px;
        top: 40px;
        font-size: 16px;
    }

    .date {
        visibility: hidden;
    }

    .info-btn {
        left: 50%;
        transform: translate(-38%);
    }
}

@media only screen and (max-width: 360px) {

    .title-box {
        transform: translateY(-36px);
    }

    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 12px !important;
        margin: 10px 20px 10px 20px !important;
    }

    #header {
        #background-photo {
            width: 180px;
            height: 210px !important;
            bottom: 76px !important;

            #photo {
                width: 300px;
                height: 530px;
                z-index: -30;
            }
        }
    }

    #start-typing {
        padding: 35px 30px;
        font-size: 16px;
    }

    #placeholder {
        left: 30px;
        top: 35px;
        font-size: 16px;
    }

    .info-btn {
        left: 50%;
        bottom: -60px !important;
        transform: translate(-42%);
    }
}
