@import 'fonts';
@import 'responsive';
@import 'variables';

.App {
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $background;
    font-family: Cooper;
}

#header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 760px;
    height: 120px;
    top: 0px;
    margin: 180px 0px 40px 0px;
    z-index: 20;

    h1 {
        position: absolute;
        font-size: 90px;
        color: $textColor;
        font-family: Ogg;
    }

    #background-photo {
        position: relative;
        width: 300px;
        height: 500px;
        overflow: hidden;
        bottom: 100px;
        transform: translateX(-4px);
        z-index: -2;

        .gradient-box {
            position: relative;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0,0,0,0) 70%, rgba(0,0,0,0.4) 100%);
            z-index: -10;
        }

        #photo {
            position: absolute;
            width: 320px;
            height: 530px;
            z-index: -30;
        }

        h2 {
            position: absolute;
            text-align: center;
            font-size: 16px;
            color: #ccc5b8;
            margin: 10px 20px 24px 20px;
            bottom: 0px;
            z-index: 10;
            pointer-events: none;
        }
    }

    .date, .info-btn {
        position: absolute;
        bottom: -90px;
        color: $textColor;
        opacity: 0.8;
        font-size: 14px;
    }

    .date {
        left: 0px;
    }

    .info-btn {
        right: 0px;
        cursor: pointer;
        transition: 0.1s;

        &:hover {
            opacity: 0.4;
        }
    }
}

#placeholder {
    position: absolute;
    top: 440px;
    left: 340px;
    color: $textColor;
    opacity: 0.3;
    font-size: 24px;
}
