@import 'fonts';

.App {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #121212;
    font-family: Cooper;
}

h1 {
    position: absolute;
    font-size: 20px;
    color: white;
    margin: 80px 0px 40px 0px;
    width: calc(100vw - 480px);
    z-index: 10;
    pointer-events: none;
}

#start-typing {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: 160px 240px;
    font-size: 26px;
    color: white;
    border: none;
    resize: none;
    transition: 0.1s;

    &:focus {
        outline: none;
    }
}

.inline {
    position: relative;
    display: inline-block;
    margin: 0px;
    z-index: 1;
}


/*----- RESPONSIVE FORMATTING -----*/

@media only screen and (max-width: 1200px) {
    h1 {
        width: calc(100vw - 320px);
    }

    #start-typing {
        padding: 160px 160px;
    }
}

@media only screen and (max-width: 1000px) {
    h1 {
        width: calc(100vw - 200px);
    }

    #start-typing {
        padding: 160px 100px;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        width: calc(100vw - 120px);
    }

    #start-typing {
        padding: 180px 60px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        width: calc(100vw - 120px);
    }

    #start-typing {
        padding: 180px 60px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        margin: 36px 0px 40px 0px;
        width: calc(100vw - 60px);
        font-size: 18px;
    }

    #start-typing {
        padding: 120px 30px;
        font-size: 16px;
    }
}


/*----- DESCRIPTORS -----*/

.good, .possible {
    color: #ff6b42;
    font-family: Ogg;
}

.confident {
    color: #85FFBD;
    background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: GoodSans;
}

.love, .get-better, .admiring {
    color: #fad343;
    background: -webkit-linear-gradient(-80deg, #fcd23a 0%, #ff26be 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Respira;
}

.happy, .great, .distinctive {
    color: #FAD961;
    background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Adieu;
}

.hopeful, .mindfulness {
    color: #8fa0ff;
    font-family: Ogg;
}

.calm, .unique, .interesting {
    color: #4affd8;
    font-family: NeueMachina;
}

.not-afraid, .courageous, .strong, .cool {
    color: #2779f5;
    font-size: 1.1em;
}

.beautiful, .appealing, .better, .attractive {
    color: #f5ab00;
    background: -webkit-linear-gradient(-80deg, #f5ab00 0%, #f8ff2b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ogg;
}

.valuable, .comfortable, .have, .accept, .overcome, .important {
    color: #ff8ab7;
    background: linear-gradient(220deg, #ff8ab7 0%, #3bfff8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: GoodSans;
}

.work-in-progress, .self-sufficient, .openminded {
    color: #74EBD5;
    background: linear-gradient(90deg, #2bd6a0 0%, #598ef7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Adieu;
    font-size: 0.9em;
}

.good-enough, .refreshing, .comforted {
    color: #fcff52;
    background: -webkit-linear-gradient(90deg, #fcff52 0%, #ff7926 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.02em;
}

.persevere, .strengthening, .improving, .motivating {
    color: #00DBDE;
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: NeueMachina;
    font-size: 1.05em;
}

.source-of-strength, .secure, .exhilarating {
    color: #85FFBD;
    background: linear-gradient(-45deg, #85FFBD 0%, #FFFB7D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: GoodSans;
}

.calm2, .caring {
    color: #ffa67a;
    font-size: 1.1em;
}

.self-esteem {
    color: #ff3898;
    font-family: Obviously;
    font-size: 0.88em;
}

.incredible, .worthy {
    color: #FAD961;
    background: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Respira;
}

.live, .accepted {
    color: #ffd230;
    font-family: Adieu;
}

.blessing, .commit, .re-adjustment, .grateful {
    color: #4158D0;
    background: linear-gradient(35deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ogg;
    font-size: 1.05em;
}
