#start-typing {
    position: relative;
    width: 100vw;
    min-height: 60vh;
    padding: 100px 340px 140px 340px;
    font-size: 24px;
    color: #ccc5b8;
    border: none;
    resize: none;
    transition: 0.1s;

    &:focus {
        outline: none;
    }
}

.inline {
    position: relative;
    display: inline-block;
    margin: 0px;
    z-index: 1;
}

/*----- DESCRIPTORS -----*/

@mixin gradientRespira {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Respira;
    font-size: 0.95em;
}

@mixin gradientOgg {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Ogg;
}

.good, .possible { // bad, impossible
    color: #ff6b42;
    font-family: Ogg;
}

.confident, .pleasant, .source-of-strength, .secure, .exhilarating { // fear, gross, trigger, anxious, terrifying
    // GREEN
    color: #85FFBD;
    background: linear-gradient(45deg, #3db374 0%, #f7da68 100%);
    @include gradientOgg;
}

.love, .get-better, .admiring { // hate, kill myself, jealous
    background: -webkit-linear-gradient(-80deg, #FAD05A, #EB2180);
    @include gradientRespira;
}

.good-enough, .refreshing, .comforted, .happy, .great, .distinctive { // inadequate, tiring, isolated, sad, horrible, strange
    color: #faab00;
    font-family: Ogg;
}

.hopeful, .mindfulness, .flawless { // depressed, depression
    color: #e38629;
    font-family: Ogg;
}

.calm, .unique, .interesting { // worry, weird, boring
    // GREEN
    color: #65cf94;
    font-family: Ogg;
}

.not-afraid, .courageous, .strong, .cool { // afraid, awkward, hurt, uncool
    // green
    color: #a8d485;
    font-family: Ogg;
}

.beautiful, .appealing, .better, .attractive { // ugly, disgusting, worse, unattractive
    // green
    color: #00ab80;
    font-family: Ogg;
}

.valuable, .comfortable, .have, .accept, .overcome, .important { //worthless, uncomfortable, avoid, fail, useless
    background: linear-gradient(220deg, #F58643, #FF5B6B);
    @include gradientRespira;
}

.work-in-progress, .self-sufficient, .openminded { // failure, lonely, angry
    color: #edb940;
    font-family: Respira;
    font-size: 0.95em;
}

.persevere, .strengthening, .improving, .motivating, .desirable { // give up, damaging, hurting, hard
    // GREEN
    color: #1b9e54;
    font-family: Respira;
    font-size: 0.95em;
}

.calm2, .caring { // pain, cruel
    color: #fa9a69;
    font-family: Ogg;
}

.self-esteem, .genuine, .good-looking { // insecurity, fat
    color: #e66e6e;
    font-family: Respira;
    font-size: 0.95em;
}

.incredible, .worthy, .gorgeous { //awful, unworthy
    color: #FAD961;
    background: linear-gradient(90deg, #ffc94d 0%, #d57916 100%);
    @include gradientRespira;
}

.live, .accepted { // die, judged
    color: #FFD17D;
    font-family: Respira;
    font-size: 0.95em;
}

.commit, .re-adjustment, .grateful, .great-person { // cheat, breakdown, bitter, fuckup, asshole
    color: #d9a338;
    font-family: Ogg;
}
